<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>注册|Myproxy</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="static/css/fontawesome-all.min.css">
	<!-- Flaticon CSS -->
	<link rel="stylesheet" href="static/css/flaticon.css">
	<!-- Google Web Fonts -->
	<link href="static/css/css.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body>
	<section class="fxt-template-animation fxt-template-layout19">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-12 fxt-bg-img" data-bg-image="images/pic_r.jpg">
					<div class="fxt-header">
						<!-- <a href="login-19.html" class="fxt-logo"><img src="static/picture/logo-19.png" alt="Logo"></a> -->
						<h1>Welcome To Myproxy</h1>
						<p>一个简单的代理服务管理系统</p>
						<a href="login" class="fxt-btn-ghost">Log In</a>
					</div>
				</div>
				<div class="col-md-6 col-12 fxt-bg-color">
					<div class="fxt-content">
						<div class="fxt-form">
							<h2>创建账户 | Myproxy</h2>
							<form method="POST">
								<div class="form-group">
									<div class="fxt-transformY-50 fxt-transition-delay-3">
										<input id="name" type="text" class="form-control" name="name" placeholder="用户名" required="required">
									</div>
								</div>
								<div class="form-group">
									<div class="fxt-transformY-50 fxt-transition-delay-3">
										<input type="email" class="form-control" name="email" placeholder="邮箱" required="required">
									</div>
								</div>
								<div class="form-group">
									<div class="fxt-transformY-50 fxt-transition-delay-4">
										<input id="password" type="password" class="form-control" name="password" placeholder="********" required="required">
										<i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
									</div>
								</div>
								<div class="form-group">
									<div class="fxt-transformY-50 fxt-transition-delay-3">
										<div class="fxt-checkbox-area">
											<div class="checkbox">
												<input id="checkbox1" type="checkbox">
												<label for="checkbox1">保持登陆状态</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="fxt-transformY-50 fxt-transition-delay-5">
										<div class="text-center">
											<div id="register" class="fxt-btn-fill">注册</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Mainly scripts -->
	<!-- jquery-->
	<script src="static/js/jquery-3.5.0.min.js"></script>
	<!-- Bootstrap js -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Imagesloaded js -->
	<script src="static/js/imagesloaded.pkgd.min.js"></script>
	<!-- Validator js -->
	<script src="static/js/validator.min.js"></script>
	<!-- Custom Js -->
	<script src="static/js/main.js"></script>

	<script type="text/javascript">
		//发送ajax请求
		$('#register').click(function () {
			$.post("/doRegister", {
				"username": $("#name").val(),
				"password": $("#password").val()
			}, function (result) {
				if (result == "1") {
					alert("注册成功！跳转到首页！");
					window.location.href = "/";
				} else if (result == "-1") {
					alert("用户名被占用");
				} else if (result == "-3") {
					alert("服务器错误");
				}
			});
		});
	</script>

</body>

</html>